<!--Import Layout in every page.-->
@model IEnumerable<ProductMate.Models.Users>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form Heading Section-->
<h3 class="uk-heading-line uk-text-center"><span>Register User</span></h3>

<!--Table Section-->
<div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-child-width-1-3@s uk-child-width-1-4@s" uk-grid>
    <table class="uk-table uk-table-small uk-table-hover uk-table-middle uk-table-divider" id="tableStyle">
        <thead class="uk-background-primary" id="tableHead">
            <tr>
                <th><!--Selection Checkbox--></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact</th>
                <th>Email ID</th>
                <th>Username</th>
                <th>Create Date</th>
                <th>Created By</th>
                <th>Organisation</th>
                <th>User Role</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr>
                <td><input class="uk-checkbox" id="users_id" type="checkbox"></td>
                <td>Pratik</td>
                <td>Bilonikar</td>
                <td>7588423703</td>
                <td>pratik.bilonikar2020@gmail.com</td>
                <td>BILONIKARP1</td>
                <td>29-DEC-2022</td>
                <td>BILONIKARP1</td>
                <td>Cognizant</td>
                <td>Admin</td>
                <td>Active</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" id="users_id" type="checkbox"></td>
                <td>Pratik</td>
                <td>Bilonikar</td>
                <td>7588423703</td>
                <td>pratik.bilonikar2020@gmail.com</td>
                <td>BILONIKARP1</td>
                <td>29-DEC-2022</td>
                <td>BILONIKARP1</td>
                <td>Cognizant</td>
                <td>Admin</td>
                <td>Active</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" id="users_id" type="checkbox"></td>
                <td>Pratik</td>
                <td>Bilonikar</td>
                <td>7588423703</td>
                <td>pratik.bilonikar2020@gmail.com</td>
                <td>BILONIKARP1</td>
                <td>29-DEC-2022</td>
                <td>BILONIKARP1</td>
                <td>Cognizant</td>
                <td>Admin</td>
                <td>Active</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" id="users_id" type="checkbox"></td>
                <td>Pratik</td>
                <td>Bilonikar</td>
                <td>7588423703</td>
                <td>pratik.bilonikar2020@gmail.com</td>
                <td>BILONIKARP1</td>
                <td>29-DEC-2022</td>
                <td>BILONIKARP1</td>
                <td>Cognizant</td>
                <td>Admin</td>
                <td>Active</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" id="users_id" type="checkbox"></td>
                <td>Pratik</td>
                <td>Bilonikar</td>
                <td>7588423703</td>
                <td>pratik.bilonikar2020@gmail.com</td>
                <td>BILONIKARP1</td>
                <td>29-DEC-2022</td>
                <td>BILONIKARP1</td>
                <td>Cognizant</td>
                <td>Admin</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>