<!--Import Layout in every page.-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form Heading Section-->
<h3 class="uk-heading-line uk-text-center"><span>New Products</span></h3>

<!--Form Section-->
<div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-4@s" uk-grid>
    <div class="uk-flex-column">
        <label>Client ID</label>
        <input class="uk-input" type="text" id="txtClientId">
    </div>
    <div class="uk-flex-column">
        <label>First Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Middle Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Last Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Client ID</label>
        <input class="uk-input" type="text" id="txtClientId">
    </div>
    <div class="uk-flex-column">
        <label>First Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Middle Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Last Name</label>
        <input class="uk-input" type="text" id="txtFirstName">
    </div>
</div>

