<!--Import Layout in every page.-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form Heading Section-->
<h3 class="uk-heading-line uk-text-center"><span>Register User</span></h3>

<!--Form Section-->
<div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-child-width-1-3@s uk-child-width-1-4@s" uk-grid>
    <div class="uk-flex-column">
        <label>First Name</label>
        <input class="uk-input uk-form-small" type="text" id="txtFirstName">
    </div>
    <div class="uk-flex-column">
        <label>Last Name</label>
        <input class="uk-input uk-form-small" type="text" id="txtLastName">
    </div>
    <div class="uk-flex-column">
        <label>Contact</label>
        <input class="uk-input uk-form-small" type="text" id="txtContact">
    </div>
    <div class="uk-flex-column">
        <label>Email ID</label>
        <input class="uk-input uk-form-small" type="email" id="txtEmailID">
    </div>
    <div class="uk-flex-column">
        <label>Username</label>
        <input class="uk-input uk-form-small" type="text" id="txtUsername">
    </div>
    <div class="uk-flex-column">
        <label>Password</label>
        <input class="uk-input uk-form-small" type="password" id="txtPassword">
    </div>
    <div class="uk-flex-column">
        <label for="ddlOrganisation">Select Organisation</label>
        <div class="uk-form-controls">
            <select class="uk-select uk-form-small" id="ddlOrganisation">
                <option value="1">Cognizant</option>
                <option value="2">Wipro</option>
                <option value="3">TCS</option>
                <option value="4">Infosys</option>
                <option value="5">Tech Mahindra</option>
                <option value="6">Wipro</option>
            </select>
        </div>
    </div>
    <div class="uk-flex-column">
        <label for="ddlRole">Select Role</label>
        <div class="uk-form-controls">
            <select class="uk-select uk-form-small" id="ddlRole">
                <option value="1">Admin</option>
                <option value="2">Customer</option>
                <option value="3">Product Support</option>
                <option value="4">IT</option>
                <option value="5">Sales/Marketing</option>
                <option value="6">Accounting</option>
            </select>
        </div>
    </div>
    <div class="uk-flex-column">
        <label for="ddlStatus">Status</label>
        <div class="uk-form-controls">
            <select class="uk-select uk-form-small" id="ddlStatus">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
        </div>
    </div>
</div>

<!--Button Section-->
<div class="uk-margin">
    <button 
        class="uk-button uk-button-primary uk-button-small uk-margin-small-left uk-margin-small-right"
        id="btnSubmit">
        Submit
    </button>
    <button 
        class="uk-button uk-button-danger uk-button-small uk-margin-small-left uk-margin-small-right"
        id="btnReset">
        Reset
    </button>
</div>
    

<script type="text/javascript">
    $("#btnSubmit").click(function () {

    });

    $("#btnReset").click(function () {

    });

    
</script>
